:root {
  /* variables used in frontpage */
  /* colors */
  --body-bg: #302e59;
  --head-color: #f2f2f2;
  --para-color: #f2f2f2;
  --tip-color: #f2f2f2;
  --btn-color: #88e8f2;
  /* root font size */
  --size-of-fonts: 10px;

  /* variables used in gamepage */
  /* colors */
  --game-body-bg: #202140;
  --home-bg-color: #251e1ed8;
  --icon-color: #05f2db;
  --quotes-color: #7afd00;
  --circle-color: #302e59;
  --h1-color: #f29b9b;
  /* --player-color: #01ff95; */
  --points-color: #7afd00;
  /* icon size */
  --icon-size: 10em;
  /* causing animation */
  --player-rock-rotate: rotate(90deg);
  --negative-rotate: rotate(-90deg);
  --player-scissor-rotate: rotate(180deg);
  --addon-translate: translate(20%, -10%);
  --paper-scale: scale(1.1);
  --moves-position: 12rem;
  --moves-new-position: 7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: var(--size-of-fonts);
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

/*styles for frontpage*/

.front_page {
  background: var(--body-bg);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  font-size: 1.5em;
  line-height: 1.2;
  margin-top: 0.5em;
  padding: 0.3em;
  color: var(--head-color);
}

.github_repo_link {
  font-size: 0.5em;
}

.fa-github-square {
  color: #f2f2f2;
  font-size: 5rem;
}

.rules {
  font-size: 1.3em;
  line-height: 1.4;
  color: var(--para-color);
}

.para1 {
  padding: 0.3em;
}

form {
  max-width: 50rem;
  margin: 0 auto;
}

form input {
  width: 100%;
  height: 4rem;
  padding: 1em 2em;
  text-align: center;
  font-size: 1.6em;
  border-radius: calc(0.5 * 44px);
  border: none;
  outline: none;
  font-family: monospace, sans-serif;
}

.btn {
  max-width: 18rem;
  margin: 0 auto;
}

.start {
  width: 18rem;
  height: 15rem;
  cursor: pointer;
  transform: translateX(-12%);
}

.fa-play {
  width: 2rem;
  color: var(--btn-color);
  animation: startanimation 1s ease-in-out 0.5s infinite;
  -webkit-animation: startanimation 1s ease-in-out 0.5s infinite;
  -ms-animaiton: startanimation 1s ease-in-out 0.5s infinite;
  -moz-animation: startanimation 1s ease-in-out 0.5s infinite;
  -o-animation: startanimation 1s ease-in-out 0.5s infinite;
}

@keyframes startanimation {
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(initial);
    -webkit-transform: scale(initial);
    -ms-transform: scale(initial);
    -moz-transform: scale(initial);
    -o-transform: scale(initial);
  }
}

.tip {
  color: var(--tip-color);
  font-size: 1.3em;
  line-height: 1.8;
}

/* media rules for frontpage */
@media (max-width: 500px) {
  .btn {
    max-width: 15rem;
    margin: 0 auto;
  }
  .start {
    margin-top: 2rem;
    width: 15rem;
    height: 12rem;
    margin-bottom: 4rem;
    transform: translateX(0);
  }
  .fa-play {
    width: 8rem;
  }
}

/*styles for gamePage*/

.game_page {
  background-color: var(--game-body-bg);
  height: 100%;
}

.home {
  /* background-color: var(--home-bg-color); */
  width: 6rem;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
}

.game_page h1 {
  text-align: center;
  color: var(--h1-color);
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
  padding-top: 1rem;
}

.table_container {
  color: #8c5679;
}

table {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

table tr td {
  font-size: 1.8em;
  color: var(--player-color);
  text-align: center;
  border: 1px solid #8c5679;
  padding: 1rem 15rem;
  text-transform: uppercase;
}

@media (max-width: 560px) {
  .home {
    width: 5rem;
  }
  table tr td {
    padding: 1rem 3rem;
  }
}
.player_p,
.comp_p {
  font-size: 1.5em;
  color: var(--points-color) !important;
  font-family: 'Amatic SC', cursive;
}

.quotes {
  display: hidden;
  color: var(--quotes-color);
  font-size: 1.8em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.quotes_animation {
  animation: quotesanimation 2s ease 0s 1;
  -webkit-animation: quotesanimation 2s ease 0s 1;
  -ms-animation: quotesanimation 2s ease 0s 1;
  -moz-animation: quotesanimation 2s ease 0s 1;
  -o-animation: quotesanimation 2s ease 0s 1;
}

@keyframes quotesanimation {
  20% {
    transform: scale(2);
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
}

.moves {
  width: fit-content;
  margin: 0 auto;
  transform: translateX(-5%);
  display: grid;
  grid-template-columns: 1fr auto 20rem auto 1fr;
  grid-template-rows: auto repeat(4, 1fr);
  row-gap: 40px;
  margin-top: 1.5rem;
}

i {
  font-size: var(--icon-size);
  color: var(--icon-color);
}

#rock,
#paper,
#scissor {
  cursor: pointer;
}

.computer_rock,
.computer_paper,
.computer_scissor {
  cursor: not-allowed;
}

p#player_name {
  grid-column: 2 / 3;
}
.name2 {
  grid-column: 4 / 5;
}
.player_rock,
.player_paper,
.player_scissor {
  grid-column: 2/ 3;
}
.player_rock {
  grid-row: 2 / 3;
}
.player_paper {
  grid-row: 3 / 4;
}
.player_scissor {
  grid-row: 4 / -1;
}
.computer_rock,
.computer_paper,
.computer_scissor {
  grid-column: 4 / 5;
}
.computer_rock {
  grid-row: 2 / 3;
}
.computer_paper {
  grid-row: 3 / 4;
}
.computer_scissor {
  grid-row: 4 / -1;
}

.circle {
  width: 1rem;
  height: 2rem;
  border: 2px solid black;
  background-color: var(--circle-color);
  border-radius: 50%;
  transform: scaleX(13) translate(50%, 50%);
  -webkit-transform: scaleX(13) translate(50%, 50%);
  -ms-transform: scaleX(13) translate(50%, 50%);
  -moz-transform: scaleX(13) translate(50%, 50%);
  -o-transform: scaleX(13) translate(50%, 50%);
}

.addon {
  transform: var(--addon-translate);
  -webkit-transform: var(--addon-translate);
  -ms-transform: var(--addon-translate);
  -moz-transform: var(--addon-translate);
  -o-transform: var(--addon-translate);
}

.player_scissor i {
  transform: var(--player-rock-rotate);
  -webkit-transform: var(--player-rock-rotate);
  -ms-transform: var(--player-rock-rotate);
  -moz-transform: var(--player-rock-rotate);
  -o-transform: var(--player-rock-rotate);
}

.computer_scissor i {
  transform: var(--player-rock-rotate);
  -webkit-transform: var(--player-rock-rotate);
  -ms-transform: var(--player-rock-rotate);
  -moz-transform: var(--player-rock-rotate);
  -o-transform: var(--player-rock-rotate);
}

.player_rock_animation {
  position: relative;
  animation: rock_animation 1.5s 0s 1 alternate both;
  -webkit-animation: rock_animation 1.5s 0s 1 alternate both;
  -ms-animation: rock_animation 1.5s 0s 1 alternate both;
  -moz-animation: rock_animation 1.5s 0s 1 alternate both;
  -o-animation: rock_animation 1.5s 0s 1 alternate both;
}

@keyframes rock_animation {
  20% {
    left: var(--moves-position);
  }
  40% {
    transform: var(--player-rock-rotate);
    -webkit-transform: var(--player-rock-rotate);
    -ms-transform: var(--player-rock-rotate);
    -moz-transform: var(--player-rock-rotate);
    -o-transform: var(--player-rock-rotate);
  }
  80% {
    left: 0rem;
  }
  100% {
    transform: rotate(initial);
    -webkit-transform: rotate(initial);
    -ms-transform: rotate(initial);
    -moz-transform: rotate(initial);
    -o-transform: rotate(initial);
  }
}

/*dynamically adding this to  .player_paper class via js */
.player_paper_animation {
  position: relative;
  animation: player_paper_animation 1s ease-in 0s 1;
  -webkit-animation: player_paper_animation 1s ease-in 0s 1;
  -ms-animation: player_paper_animation 1s ease-in 0s 1;
  -moz-animation: player_paper_animation 1s ease-in 0s 1;
  -o-animation: player_paper_animation 1s ease-in 0s 1;
}
@keyframes player_paper_animation {
  20% {
    left: var(--moves-position);
  }
  40% {
    transform: scale(1.12) rotate(45deg);
    -webkit-transform: scale(1.12) rotate(45deg);
    -ms-transform: scale(1.12) rotate(45deg);
    -moz-transform: scale(1.12) rotate(45deg);
    -o-transform: scale(1.12) rotate(45deg);
  }
  80% {
    left: 0rem;
  }
  100% {
    transform: scale(initial) rotate(initial);
    -webkit-transform: scale(initial) rotate(initial);
    -ms-transform: scale(initial) rotate(initial);
    -moz-transform: scale(initial) rotate(initial);
    -o-transform: scale(initial) rotate(initial);
  }
}

/*dynamically adding this to .player_scissor class via js */

.player_scissor_animation {
  position: relative;
  animation: player_scissor_animation 1s ease-in 0s 1;
  -webkit-animation: player_scissor_animation 1s ease-in 0s 1;
  -ms-animation: player_scissor_animation 1s ease-in 0s 1;
  -moz-animation: player_scissor_animation 1s ease-in 0s 1;
  -o-animation: player_scissor_animation 1s ease-in 0s 1;
}
@keyframes player_scissor_animation {
  20% {
    left: var(--moves-position);
  }
  40% {
    transform: var(--player-scissor-rotate);
    -webkit-transform: var(--player-scissor-rotate);
    -ms-transform: var(--player-scissor-rotate);
    -moz-transform: var(--player-scissor-rotate);
    -o-transform: var(--player-scissor-rotate);
  }
  80% {
    left: 0rem;
  }
  100% {
    transform: rotate(initial);
    -webkit-transform: rotate(initial);
    -ms-transform: rotate(initial);
    -moz-transform: rotate(initial);
    -o-transform: rotate(initial);
  }
}

/*dynamically adding this to .computer_rock class via js */
.computer_rock_animation {
  position: relative;
  animation: computer_rock_animation 1s ease-in 0s 1;
  -webkit-animation: computer_rock_animation 1s ease-in 0s 1;
  -ms-animation: computer_rock_animation 1s ease-in 0s 1;
  -moz-animation: computer_rock_animation 1s ease-in 0s 1;
  -o-animation: computer_rock_animation 1s ease-in 0s 1;
}
@keyframes computer_rock_animation {
  20% {
    right: var(--moves-position);
  }
  40% {
    transform: var(--negative-rotate);
    -webkit-transform: var(--negative-rotate);
    -ms-transform: var(--negative-rotate);
    -moz-transform: var(--negative-rotate);
    -o-transform: var(--negative-rotate);
  }
  80% {
    right: 0rem;
  }
  100% {
    transform: rotate(initial);
    -webkit-transform: rotate(initial);
    -ms-transform: rotate(initial);
    -moz-transform: rotate(initial);
    -o-transform: rotate(initial);
  }
}

/*dynamically adding this to .computer_paper class via js */
.computer_paper_animation {
  position: relative;
  animation: computer_paper_animation 1s ease-in 0s 1;
  -webkit-animation: computer_paper_animation 1s ease-in 0s 1;
  -ms-animation: computer_paper_animation 1s ease-in 0s 1;
  -moz-animation: computer_paper_animation 1s ease-in 0s 1;
  -o-animation: computer_paper_animation 1s ease-in 0s 1;
}

@keyframes computer_paper_animation {
  20% {
    right: var(--moves-position);
  }
  40% {
    transform: scale(1.12) rotate(320deg);
    -webkit-transform: scale(1.12) rotate(320deg);
    -ms-transform: scale(1.12) rotate(320deg);
    -moz-transform: scale(1.12) rotate(320deg);
    -o-transform: scale(1.12) rotate(320deg);
  }
  80% {
    right: 0rem;
  }
  100% {
    transform: scale(initial) rotate(initial);
    -webkit-transform: scale(initial) rotate(initial);
    -ms-transform: scale(initial) rotate(initial);
    -moz-transform: scale(initial) rotate(initial);
    -o-transform: scale(initial) rotate(initial);
  }
}

/*dynamically adding this to .computer_scissor class via js */
.computer_scissor_animation {
  position: relative;
  animation: computer_scissor_animation 1s ease-in 0s 1;
  -webkit-animation: computer_scissor_animation 1s ease-in 0s 1;
  -ms-animation: computer_scissor_animation 1s ease-in 0s 1;
  -moz-animation: computer_scissor_animation 1s ease-in 0s 1;
  -o-animation: computer_scissor_animation 1s ease-in 0s 1;
}
@keyframes computer_scissor_animation {
  20% {
    right: var(--moves-position);
  }
  40% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  80% {
    right: 0rem;
  }
  100% {
    transform: rotate(initial);
    -webkit-transform: rotate(initial);
    -ms-transform: rotate(initial);
    -moz-transform: rotate(initial);
    -o-transform: rotate(initial);
  }
}

/* media rules of gamepage */

@media screen and (max-width: 550px) {
  .moves {
    grid-template-columns: 0.2rem auto 1fr auto 1rem;
    margin-top: 2rem;
  }
  .game_page h1 {
    font-size: 4em;
  }
  .addon {
    font-size: 7rem;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
  #scissor {
    position: relative;
    left: 35px;
  }
  #computer-scissor {
    margin-left: 35px;
  }
  .quotes {
    font-size: 1.2em;
  }
}

/* new rules */
@media (max-width: 450px) {
  .moves i {
    font-size: 6.5rem;
    margin-left: 0px;
  }
  .moves {
    grid-template-columns: 0.5fr auto 12rem auto 1fr;
    margin-top: 2rem;
  }
  p#player_name,
  .name2 {
    font-size: 2em;
  }

  .circle {
    width: 0.9rem;
    height: 2rem;
  }

  @keyframes rock_animation {
    20% {
      left: var(--moves-new-position);
    }
    40% {
      transform: var(--player-rock-rotate);
      -webkit-transform: var(--player-rock-rotate);
      -ms-transform: var(--player-rock-rotate);
      -moz-transform: var(--player-rock-rotate);
      -o-transform: var(--player-rock-rotate);
    }
    80% {
      left: 0rem;
    }
    100% {
      transform: rotate(initial);
      -webkit-transform: rotate(initial);
      -ms-transform: rotate(initial);
      -moz-transform: rotate(initial);
      -o-transform: rotate(initial);
    }
  }

  @keyframes player_paper_animation {
    20% {
      left: var(--moves-new-position);
    }
    40% {
      transform: scale(1.12) rotate(45deg);
      -webkit-transform: scale(1.12) rotate(45deg);
      -ms-transform: scale(1.12) rotate(45deg);
      -moz-transform: scale(1.12) rotate(45deg);
      -o-transform: scale(1.12) rotate(45deg);
    }
    80% {
      left: 0rem;
    }
    100% {
      transform: scale(initial) rotate(initial);
      -webkit-transform: scale(initial) rotate(initial);
      -ms-transform: scale(initial) rotate(initial);
      -moz-transform: scale(initial) rotate(initial);
      -o-transform: scale(initial) rotate(initial);
    }
  }

  @keyframes player_scissor_animation {
    20% {
      left: var(--moves-new-position);
    }
    40% {
      transform: var(--player-scissor-rotate);
      -webkit-transform: var(--player-scissor-rotate);
      -ms-transform: var(--player-scissor-rotate);
      -moz-transform: var(--player-scissor-rotate);
      -o-transform: var(--player-scissor-rotate);
    }
    80% {
      left: 0rem;
    }
    100% {
      transform: rotate(initial);
      -webkit-transform: rotate(initial);
      -ms-transform: rotate(initial);
      -moz-transform: rotate(initial);
      -o-transform: rotate(initial);
    }
  }

  @keyframes computer_rock_animation {
    20% {
      right: var(--moves-new-position);
    }
    40% {
      transform: var(--negative-rotate);
      -webkit-transform: var(--negative-rotate);
      -ms-transform: var(--negative-rotate);
      -moz-transform: var(--negative-rotate);
      -o-transform: var(--negative-rotate);
    }
    80% {
      right: 0rem;
    }
    100% {
      transform: rotate(initial);
      -webkit-transform: rotate(initial);
      -ms-transform: rotate(initial);
      -moz-transform: rotate(initial);
      -o-transform: rotate(initial);
    }
  }

  @keyframes computer_paper_animation {
    20% {
      right: var(--moves-new-position);
    }
    40% {
      transform: scale(1.12) rotate(320deg);
      -webkit-transform: scale(1.12) rotate(320deg);
      -ms-transform: scale(1.12) rotate(320deg);
      -moz-transform: scale(1.12) rotate(320deg);
      -o-transform: scale(1.12) rotate(320deg);
    }
    80% {
      right: 0rem;
    }
    100% {
      transform: scale(initial) rotate(initial);
      -webkit-transform: scale(initial) rotate(initial);
      -ms-transform: scale(initial) rotate(initial);
      -moz-transform: scale(initial) rotate(initial);
      -o-transform: scale(initial) rotate(initial);
    }
  }

  @keyframes computer_scissor_animation {
    20% {
      right: var(--moves-new-position);
    }
    40% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    80% {
      right: 0rem;
    }
    100% {
      transform: rotate(initial);
      -webkit-transform: rotate(initial);
      -ms-transform: rotate(initial);
      -moz-transform: rotate(initial);
      -o-transform: rotate(initial);
    }
  }
}

@media (min-width: 550px) {
  #scissor {
    margin-left: 3rem;
  }
  #computer-scissor {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .moves {
    grid-template-columns: 1fr auto 25rem auto 1fr;
  }
}

/* styles for backpage */
.back_page {
  background-color: #0cf25d;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.home_icon {
  width: 10rem;
  cursor: pointer;
}

.win_or_loss {
  display: block;
  position: absolute;
  margin-bottom: 25rem;
  line-height: 2;
  font-size: 2em;
  letter-spacing: 0.04em;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}

.back_page_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.play_again {
  width: 15rem;
  height: 5rem;
  font-size: 2em;
  border-radius: 44px;
  color: white;
  background-color: #034159;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
  margin-left: 5em;
}

.play_again:hover {
  background-color: white;
  color: #034159;
}

@media (max-width: 560px) {
  .play_again {
    margin-left: 0;
  }
  .win_or_loss {
    font-size: 1.7em;
    line-height: 1.8;
  }
}

/* styles for manipulating page */
.visible {
  display: flex;
}
.visible_game {
  display: block;
}

.invisible {
  display: none;
}
